* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 40px;
}
