* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.box {
  text-align: center;
  margin-top: 100px;
}

i {
  font-size: 60px;
  color: green;
}
